.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;

  font-family: Inter, sans-serif;
}
body {
  background: #23252c;
}

.SupremeContainer {
  margin: auto;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.MajorElements {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px;
  border-radius: 10px;
  text-align: center;
}

.img {
  border: 1px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.About {
  padding: 20px 0px 0px 0px;
  background: #1a1b21;
  width: 100%;
}
.About > .Name {
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1;
}

.About > .Desig {
  color: #f3bf99;
  font-size: 13px;
}

.SocialAcc {
  padding: 5px 0px 5px 0px;
  background: #161619;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  color: #f5f5f5;
}

.Aboutbio {
  margin-left: 5%;
  padding-left: 10px;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-right: 10px;
  max-width: 90%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.Aboutbio > p {
  font-size: 10.24px;
  color: #dcdcdc;
  padding-top: 10px;
}

.Aboutbio > h3 {
  margin-top: 5%;
  text-align: left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
}
